*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 500;
}

.header{
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px rgba(168, 186, 217, 0.4) solid;
  background: rgba(255, 255, 255, 0.6);
}

.header .container{
  max-width: 1200px;
  margin: 0 auto;
}

.header .row{
  display: flex;
  align-items: center;
  height: 50px;
  text-align: center;
  justify-content: space-between;
}


.header .logo{
  display: flex;
  margin-left: -20px;
  margin-right: 15px;
  align-items: center;
}

.header .header-nav ul{
  display: flex;
  list-style: none;
  align-items: center;
}

.header .header-nav ul li a{
  padding: 10px 15px;
  text-decoration: none;
}

.header .header-nav a:hover{
  border-bottom: 1px rgba(118, 131, 155, 0.4) solid;
}

.header .header-rigth {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: flex-end;
  flex: 1;
}

.header .header-rigth ul{
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: flex-end;
  flex: 1;

}

.header .header-rigth a{
  padding: 10px 15px;
}

.header .header-rigth a:hover{
  border-bottom: 1px rgba(118, 131, 155, 0.4) solid;
}
